/* ==========================================================================
   Grid extension: alignment
   ========================================================================== */

/**
 * Alignment modifiers for `Grid` and `Grid-cell`
 */

/* Component modifiers
   ========================================================================== */

/**
 * Horizontally center all grid cells
 *
 * Allows for automatic cell centering irrespective of the number of
 * cells in the grid.
 */

.Grid--justifyCenter {
  text-align: center;
}

/**
 * Align all grid cells to right
 */

.Grid--justifyRight {
  text-align: right;
}

/**
 * Vertically align all grid cells to middle
 */

.Grid--alignMiddle > .Grid-cell {
  vertical-align: middle;
}

/**
 * Vertically align all grid cells to bottom
 */

.Grid--alignBottom > .Grid-cell {
  vertical-align: bottom;
}

/* Descendant modifiers
   ========================================================================== */

/**
 * Horizontally center one cell
 *
 * Set a specific cell to be horizontally centered. Doesn't affect
 * any other cells. The cell has to have width specified. Can still contain
 * a `Grid` component.
 */

.Grid-cell--center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/**
 * Align cell to right
 */

.Grid-cell--right {
  display: block;
  margin-left: auto;
}
