/* ==========================================================================
   Grid extension: layout
   ========================================================================== */

/**
 * Layout modifiers for `Grid`.
 */

/* Component modifiers
   ========================================================================== */

/* Cells size */

/**
 * Make all cells content-sized.
 */

.Grid--auto > .Grid-cell {
  width: auto;
}

/**
 * Make all cells equal size.
 */

.Grid--equal > .Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/**
 * Split into 2 columns.
 */

.Grid--2col > .Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 50%;
}

/**
 * Split into 3 columns.
 */

.Grid--3col > .Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
}

/**
 * Split into 4 columns.
 */

.Grid--4col > .Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 25%;
}

/* Descendant modifiers
   ========================================================================== */

/**
 * Use atomic dimension utilities to apply size to a single cell
 */
